.auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border: 0;
  width: 100%;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1.7rem;
  padding: 1rem 0rem;
  width: 80%;
}
